body{
    background: linear-gradient(to left, #ffe53bd8, #ff2525da);
    margin: 0;
}


.container{ 
    background-color: white;
    width: 600px;
    height: 140px;
    border-radius: 20px;
    margin: 200px auto;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.contagem{
    display: flex;
    justify-content: space-evenly;
    
}

.timer{
    background-color: rgb(225, 225, 225);
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}

input{
    font-size: 30px;
    border: none;
    text-align: center;
    font-family:emFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.controle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;
    height: 90px;
    width: 300px;
    margin: 40px 0px 0px 150px;
    border-radius: 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}
.btn{
    width: 85px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;

}

#start{
    background-color: rgb(92, 202, 92);
    position:fixed;
    margin-right: 129px;

}

#pause{
    background-color: rgb(255, 189, 66);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, .5);
}

#reset{
    background-color: rgb(255, 76, 76);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, .5);
}

.hide{
    display: none;
}

.show{
    display: block;
}
